# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
Some of the key takeaways from the course are:
- Study of Data Science languages (SQL, Python and R)
- Study of Data Science environments (Apache, RSTUDIO and Jupyter)
- Working with Jupyter Notebook

**Objectives:**
Some of the key takeaways from the course are:
- Study of Data Science languages (SQL, Python and R)
- Study of Data Science environments (Apache, RSTUDIO and Jupyter)
- Working with Jupyter Notebook

In [ ]:
Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. Matplotlib
3. Tensorflow

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. Matplotlib
3. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter           |
|Apache Flink      |
|Rstudio           |

|Data Science Tools|
|------------------|
|Jupyter           |
|Apache Flink      |
|Rstudio           |

### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
print('This a simple arithmetic expression to mutiply then add integers')
print('(3*4)+5 =')
(3*4)+5

This a simple arithmetic expression to mutiply then add integers
(3*4)+5 =

17

In [3]:
print('This will convert 200 minutes to hours by diving by 60.')
200/60

This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

In [ ]:
## Author
Thomas S. Maso

## Author
Thomas S. Maso